*, *:before, *:after {
  -moz-box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'montserrat', sans-serif ;
  /*height: 100%; this fixed the footer in the bottom */ 
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background-color: #ffffff;
}
nav ul li {
  font-family: 'montserrat', sans-serif ;
}

.header {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
#nav_profile_image {
  width: 50px;
  height: 50px;
}

.fas {
  color: grey
}

input.btn:hover {
  color: white;
}
div.logo {
  padding: 0;
}
span a {
  text-decoration: none;
  color: black; 
}
.card-cat a {
  text-decoration: none;
  color: black; 
}
.intro {
  padding: 1.3rem;
  margin-bottom: 5.5rem;
  margin-top: 3.5rem;
  
}
hr {
  width:50% ;
  margin-bottom: 3rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbar {
  border: none;
  font-family: 'montserrat', sans-serif ;

}
li.nav-item{
  font-size:14px ;
  font-weight: 600;
  font-family: 'montserrat', sans-serif ;
}
span {
  color: black;
  margin-right: 0.5rem;
}
.conx{
  margin-right: 0.5rem;
  font-size: 14px;
  font-weight: 600;
}
/* for the user icon */
.fa-user {
  color: #f7bf94;
  text-decoration: none;
}
/* Banniere */
.baniere{
  border-radius: 0rem ;
  padding: 1rem ;
  margin-top: 1.5rem ;
  margin-bottom: 6rem;

}
.part-one {
  font-family: 'montserrat', sans-serif ;
  font-weight: 800;
  color: #ff6347;
  
  }

.part-two {
  font-size: 20px;
  font-family: 'montserrat', sans-serif ; 
  font-weight: 550;   
}

/* Categories */

/*Break points*/
@media (max-width: 576px) { 

.categories{
  display: flex ;
  flex-flow: row wrap;
  justify-content: space-evenly ;
  flex-wrap: wrap ;
  margin-bottom: 100px;


}

.card-cat{
  width: 140px ;
  padding: 0.2rem ;
  margin: 0.8rem ;
  }

  .conx {
    margin-top: 0.5rem;
  }

}

@media (max-width: 768px) {

.categories{
  display: flex ;
  flex-flow: row wrap;
  justify-content: space-evenly ;
  flex-wrap: wrap ;
  margin-bottom: 100px;


}
.card-cat{
  width: 140px ;
  padding: 0.3rem ;
  margin: 0.8rem ;
  }
  

}

@media (min-width: 992px) {
  .categories{
  display: flex ;
  flex-flow: row wrap;
  justify-content: space-evenly ;
  flex-wrap: wrap ;
  margin-bottom: 160px;
  }

.card-cat{
  width: 100% ;
  padding: 1.5rem ;
  margin: 0.8rem ;
  flex-basis: 17.9%;
  }

}
/** LOGIN */

.social-media {
  background-color: white;
  border-color: black;
  width:100%;
  border-radius: 2px;
}
button.social-media:hover { 
  border-color: #f7bf94;
}
button.btn:hover {
  color: white;
}
.form-control {
  border-radius: 2px ;
}
.form-control:focus {
  border-color: #f7bf94;
  
}
#login-img{
  width: 70%;
  height: 100%;
}
.login {
  height: 100%;
  margin-top: 4rem ;
}
.login-pt-1 {
  width: 60%;
  box-shadow: 0 8px 6px -6px grey;
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 9px;
}
.btn {
  background-color: #141a6e;
  color: #ffffff;
}

 .already-have {
  margin-top: 1rem; 
  padding-left: 1rem; 
  padding-right: 1rem;
 }

 .already-have-child1 {
   float: right;
 }

 .already-have-child2 {
  float: left;
}

@media (max-width: 576px) {
  #login-img{
    display: none;
  }
  .login-pt-1 {
    width:100% ;
  }
  .google {
    margin-bottom: 1rem;
  }
  .already-have {
    margin-top: 1rem; 
    padding-left: 1rem; 
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;

   }
   .already-have-child1 {
    float: none;
  }
  #a-already-have-child1 {
    margin-bottom: 0.7rem;
  }
 
  .already-have-child2 {
   float: none;
 }
}

@media (max-width: 768px) {
  .login-pt-1 {
    width:100% ;
  }
  #login-img{
    width: 100%;
  }
  .google {
    margin-bottom: 1rem;
  }
 
}

@media (max-width: 992px) {
  
  .login-pt-1 {
    width:100% ;
  }
  #login-img{
    width: 100%;
  }
}

/** INSCRIPTION */
.inscription-form {
  width: 80%;
}


 /** search bar */
 #form{
    
    transform: translate(-10%,0%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    margin-left: 0.7rem ;
}

.input-search{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

#form:hover{
    width: 200px;
    cursor: pointer;
}

#form:hover input{
    display: block;
}

form:hover .fa{
    background: #141a6e;
    color: white;
}

/*FOOTER*/
.footer {
   
  position: absolute;
  bottom: 0 ;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f7bf94;
}


/*LIST VIEW*/
a.btn:hover {
  color: white;
}
.t-img {
  padding-right: 1.5rem;
}
.title {
  padding-left: 1.5rem;
}
.list-btn{
  background-color: #141a6e;
  color: white;
  font-weight: bold;
  float: right;
}

/* Items */

/*Break points*/
@media (max-width: 576px) { 

.items{
  display: flex ;
  flex-flow: row wrap;
  justify-content: space-evenly ;
  flex-wrap: wrap ;
  margin-bottom: 180px;


}

.card{
  padding: 0.2rem ;
  margin-bottom: 0.8rem ;
  margin-right: 0;
  margin-left: 0;
  }

}

@media (max-width: 768px) {

.items{
  display: flex ;
  flex-flow: row wrap;
  justify-content: space-evenly ;
  flex-wrap: wrap ;
  margin-bottom: 180px;


}
.card{
  padding: 0.3rem ;
  margin: 0.8rem ;
  }

}

@media (min-width: 992px) {
  .items{
  display: flex ;
  flex-flow: row wrap;
  justify-content: space-evenly ;
  flex-wrap: wrap ;
  margin-bottom: 200px;
  }

.card{
  width: 100% ;
  padding: 1.5rem ;
  margin: 0.8rem ;
  flex-basis: 25%;
  }

}
.btn {
  border-radius: 2px;
}

/** Single page stylesheet */

div.single{
    padding-top: 2rem; 

}
.content-single{
    display: flex;
}

div.row{
    margin-bottom: 1rem;
}

#comment-field {
  background-color: rgb(247, 191, 148, .5) ;
  border-radius: 10px;
  padding: 1rem;
}
        

/** list-view */

div.list-item{
    margin-bottom: 2rem ;
}
button.btn{
    border-radius: 2px;
}

/**SINGLE PAGE */
.col-12.section {
  margin-bottom: 1.5rem;
}
.hr {
  margin-bottom: 2rem;
}

/** rating starts*/

.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fas {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fas {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fas {
  color:#FF912C;
}


/* heart */

.fill {
  color: #ed344f ;
}
.unfill {
  color: grey;
}

/*Formulaire business*/
.form-row {
  padding: 3rem;
  margin-bottom: 2rem;
}
.form-control {
  border-radius: 2px;
  border-color: #141a6e;
}
.r-business-titles {
  color: #ff6347;
}
@media (max-width: 768px) {

  .form-row {
    padding: 1rem;
   }
  
  }

  
.away-from-footer {
  margin-bottom: 4rem;
}
/* Arrow */


.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*User dashboard*/
.title { 
  display: flex;
  margin-top: 2rem ;
  margin-bottom: 4rem ; 
}

.favorite-card {
  background-color: rgb(169,169,169, .2);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.image-part {
  width: 20%;
}

.infos-part {
  width: 70%;
  flex-direction: column;
}

.heart-part {
  width: 10%;
}
.favorite-infos{
  display: flex;
  align-items: center;
  
}
.myfavorites {
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  .favorite-card {
    width: 100%;
  }
}

.edit {
  color: green;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 12px;
}

.personal-infos {
margin-top: 2rem;
}

