<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Werili| Acceuil</title>
    <meta name="" content="">
    <meta name="" content="">
    <!-- Main bootstrap css !-->
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/custom2.css">
    <link rel="stylesheet" type="text/css" href="./css/hover.css">
    <!-- Font awsome !-->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--Fonts bu Google!-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
</head>

<body>
    <!--NAVBAR !-->
    <nav style="top:0"class="navbar navbar-expand-md navbar-light bg-light">
        <div class="logo" style="width: 200px">
            <a class="navbar-brand" href="/"><img style="width: 100%"  src="./images/mahdi1.png"></a>
        </div>
        <button style="border:none; outline: none;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fas fa-bars fa-3x"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Pourquoi WERILI ? </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contactez-nous</a>
                </li>

            </ul>
            <div class="conx">
                <ul class="navbar-nav mr-auto">
                    <li class="conx">
                        <a href="" style="text-decoration:none; color: #f7bf94;"><span>Se connecter</span><i class="fas fa-user fa-lg"></i></a>
                    </li>
                </ul>
            </div>
            <form id="form" action= '/search-results' method= "post">
                <input class="input-search" type="search" name= "searched" >
                <i class="fa fa-search"></i>
            </form>
        </div>
    </nav>
    <main role="main" class="container-fluid">
<!--Baniere -->
        <!--Part one -->
        <div class="container text-center intro">
            <p class="h1 part-one">Vous cherchez un magasin ? un bon coin ? une bonne adresse ? en créant cette communauté d'entraide WERILI vous épargne toute la peine qui va avec !</p>
            
        </div>
       
        <!--Part two -->
        <div class="container-fluid baniere text-center">
            <div class="row align-items-start justify-content-center">
                <div class="col-12 col-sm-5">
                    <div class="row">
                        <div class="col-sm-5 part-two">
                            <p>Enregistrez votre business et bénéficiez d'une visibilité supplémentaire et du feedback positif de vos clients satisfaits
                            , qu'attendez vous ? <span><a style= "text-decoration: none" href=" {{ path('register_business') }} ">cliquez sur ce lien</a></span></p>
                        </div>
                        <div class="col-sm-7">
                            <img class="img-fluid" src="./images/business1.svg">
                        </div>
                    </div>
                </div>

                <div style="height:150px; margin-top: 15px; margin-bottom: 15px;" class="col-4 col-sm-2">
                        <div style=" margin-right: 50%; margin-left:50%" class="arrow bounce ">
                                <i style="color: #ff6347;" class="fa fa-arrow-down fa-5x"></i> 
                        </div>
                </div>

                <div class="col-12 col-sm-5">
                    <div class="row">
                        <div class="col-sm-7">
                            <img class="img-fluid" src="./images/customer1.svg">
                        </div>
                        <div class="col-sm-5 part-two">
                            <p >Trouvez les bonnes adresse, évaluez les selon votre experience et faites part de votre jugement au autres. Ahh C'EST BIEN L'ENTRAIDE ! <span><a style= "text-decoration: none" href="">inscrivez-vous par ici</a></span>  </p>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
      
        <!-- CATEGORIES notes ay tema!-->
        <div class="categories container">
            <div class="text-center card-cat hvr-grow-shadow">
                <a href="/catname">
                    <img class="img-fluid" alt="" src="./images/sign.svg">
                    <hr>
                    <h5>Réstos & Cafés</h5>
                </a>
            </div>
            <div class="text-center card-cat hvr-grow-shadow">
                <a href="/catname">
                    <img class="img-fluid" alt=" " src="./images/doctor.svg">
                    <hr>
                    <h5>Santé</h5>
                </a>
            </div>

            <div class="text-center card-cat hvr-grow-shadow">
                <a href="/catname">
                    <img class="img-fluid" alt=" " src="./images/dumbbell.svg">
                    <hr>
                    <h5>Sport</h5>
                </a>
            </div>
            <div class="text-center card-cat hvr-grow-shadow">
                <a href="/catname">
                    <img class="img-fluid" alt=" " src="./images/makeover.svg">
                    <hr>
                    <h5>Beauté & Soins</h5>
                </a>
            </div>
            <div class="text-center card-cat hvr-grow-shadow">
                <a href="/catname">
                    <img class="img-fluid" alt=" " src="./images/kitchen.svg">
                    <hr>
                    <h5>Maison & Déco</h5>
                </a>
            </div>
            <div class="text-center card-cat hvr-grow-shadow">
                <a href="/catname">
                    <img class="img-fluid" alt=" " src="./images/customer-service.svg">
                    <hr>
                    <h5>Agences & Services</h5>
                </a>
            </div>
            <div class="text-center card-cat hvr-grow-shadow">
                <a href="/catname">
                    <img class="img-fluid" alt=" " src="./images/pet-shop.svg">
                    <hr>
                    <h5>Animaux</h5>
                </a>
            </div>
            <div class="text-center card-cat hvr-grow-shadow">
                <a href="/catname">
                    <img class="img-fluid" alt=" " src="./images/clothing-shop.svg">
                    <hr>
                    <h5>Habillement & Mode</h5>
                </a>
            </div>
            <div class="text-center card-cat hvr-grow-shadow">
                    <a href="/catname">
                        <img class="img-fluid" alt=" " src="./images/chef.svg">
                        <hr>
                        <h5>Food</h5>
                    </a>
                </div>
            
        </div>

    </main>
    <!-- END CONTAINER !-->

    <!-- FOOTER !-->

    <div id="footer" class="footer text-center ">
        <h4>FOOTER !</h4>
    </div>
    <!-- END FOOTER !-->

    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>